[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "MLModelSelection"]
	path = MLModelSelection
	url = https://github.com/cran/MLModelSelection
